.content-container {
  display: flex;
  flex-direction: row-reverse; /* Reverse the order of elements */
  align-items: center;
}

.img-container {
  margin-top: 10%;
  flex: 1; /* Take up remaining space */
  padding: 20px; /* Add padding for spacing */
  width: 80%; /* Adjusted width */
  max-width: 600px; /* Limit the maximum width */
  margin-bottom: 20px;
}

.right-container {
  flex: 1; /* Take up remaining space */
  position: relative;
  width: 80%; /* Adjusted width */
  max-width: 600px;
  height: 100%;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  text-align: center; /* Center the text */
}

.login-link {
  position: absolute; /* Set position to absolute */
  top: 0; /* Align the link to the top */
  left: 0; /* Align the link to the left */
  margin-top: 20px; /* Add margin for spacing */
  margin-left: 20px; /* Add margin for spacing */
  font-style: italic;
  margin-bottom: 20px;
}

h1 {
  text-align: center; /* Center the heading text */
  margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.signup-img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.names-container {
  display: flex;
}

.names-container .form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group label {
  display: block;
}

.form-group input[type="text"] {
  width: 100%;
}

.form-group {
  margin-bottom: 5px; /* Add margin bottom to create space between form groups */
}

.form-group input[type="text"],
.form-group input[type="password"] {
  /* Add padding to input elements for spacing */
  padding: 5px;
}

.btn-primary {
  width: 100%; /* Set the width of the button to 100% */
  margin-top: 20px; /* Add margin from the top */
}

.modal {
  display: block; /* Make the modal visible */
  position: fixed; /* Position the modal */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure the modal is above other elements */
}

.modal-content {
  background-color: white;
  width: 50%; /* Adjust width as needed */
  max-width: 800px; /* Set maximum width */
  margin: 100px auto; /* Center the modal vertically and horizontally */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}

.profile-img-container {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden; /* Ensures the image stays within the circle */
  margin-left: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}

.profile-img {
  width: 100%;
  height: auto;
}
