.main-home-container {
  display: flex;
  width: 100%;
  height: 100vh;
  margin-top: 68px;
  background: linear-gradient(to bottom, #4e54c8, #8f94fb, #ffffff);
}

.left-home-container,
.right-home-container {
  height: 80%;
  margin: 0 20px; /* Adjusted margin to create space between containers */
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.left-home-container {
  background-color: gray;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 65vw;
  display: flex;
  flex-direction: column; /* Adjusted to column layout */
  align-items: center; /* Horizontally center the content */
  justify-content: flex-end; /* Align content at the bottom */
}
.left-home-container h3 {
  margin-top: 20px;
  font-weight: bold; /* Make the font bold for better visibility */
  color: white; /* Set the text color to white */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a subtle shadow effect */
  font-size: 40px;
}

.daily-content {
  margin-top: auto; /* Push to the bottom */
  margin-bottom: 16%; /* Adjust margin bottom if needed */
  width: 35%;
  font-size: 16px; /* Adjust font size */
  font-weight: normal; /* Set font weight to normal or any desired weight */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 20px; /* Add padding for spacing */
  border-radius: 10px; /* Add border radius for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.right-home-container {
  color: white; /* Change text color to a darker shade */
  font-size: 16px; /* Adjust font size */
  font-weight: normal; /* Set font weight to normal */
  width: 35vw;
}

.top-container {
  width: 100%;
  height: 70%;
  float: top;
  border-radius: 10px;
  margin-bottom: 140px;
}

.right-heading {
  margin-top: 20px;
}

.pr-table-container {
  width: 100%;
  height: 50%;
  margin: 20px;
}

.pr-table {
  width: 100%;
}
#more-pr-btn {
  width: 60%;
}

.fitness-icon {
  height: 45px;
  width: auto;
  margin-top: 5px;
}
